/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
  scroll-behavior: smooth;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: $defaultFont;
  font-weight: $normalWeight;
  color: $fontColor;
}

#headerWrapper {
  background-color: black;
  color: $secondaryColor;
}

header {
  display: flex;
  align-items: flex-end;
  padding: 1rem $gutter;
  gap: 8px;
  h1 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: $normalWeight;
    
  }
}

#navWrapper {
  background-color: $menuColor;
  position: sticky;
  top: 0;
}

nav {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 14px;
    li {
      flex: 1;
    }
  }
  li.active {
    background-color: darken($menuColor, 10%);
  }
  a {
    display: block;
    padding: 0.75rem;
    color: white;
    text-align: center;
    text-decoration: none;
    img {width: 25px;}
    span {display: none;}
    &:hover {
      background-color: lighten($menuColor, 10%);
    }
  }
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
 // background-color: lighten($secondaryColor, 15%);
  //&:nth-child(odd) {
    //background-color: lighten($secondaryColor, 10%);
  //}
  p, li {
    font-size: 1rem;
    line-height: 1.6;
    padding: 0 20px;
  }
}

.card {
  background-color: white; // Light background for the card
  border-radius: 8px; // Rounded corners
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Subtle shadow for depth
  display: flex; // Flexbox layout
  flex-direction: column; // Stack elements vertically
  overflow: hidden; // Keeps all content within the rounded borders
  margin: 15px;
  //width: 100%;
  //margin-bottom: 20px;

  img {
  width: 100%; // Responsive image width
  height: auto; // Maintain aspect ratio
  object-fit: cover; // Ensures the image covers the designated area without distortion
  }
  }

  .card-content {
    padding: 20px; // Padding inside the card

    h2 {
      margin-top: 0; // Removes top margin from the heading
      font-size: 1.25rem;
    }

    p {
      font-size: .9rem;
      //line-height: 1.6; // Enhanced readability
    }
  }


.social-media-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin: 1rem;
  padding: 1rem;

  img {
      width: 50px; 
      height: 50px;
  }
}
.social-media-icons a {
  display: inline-block; // Ensures transform properties apply correctly
  vertical-align: middle; // Keeps icons aligned
  transition: transform 0.3s ease, background-color 0.3s ease; // Smooth transition for transform and background color
  will-change: transform, background-color; // Optimizes the properties that will change
  background-color: rgba(255, 255, 255, 0.2); // Light background for better visibility
  border-radius: 50%; // Ensures the background is also circular
  height: 50px;
  width: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); // Initial subtle shadow for depth

  &:hover {
    transform: translateY(-5px); // Moves the icon up by 5 pixels
    background-color: rgba(255, 255, 255, 0.3); // Slightly changes background on hover
  }
}




// begin the footer 
#footerWrapper {
  background-color: black;
  color: white;
}
footer {
  padding: 1rem;
  p {
    margin: 0;
    font-weight: $lightWeight;
    text-align: center;
  }
}
