$primaryColor: #db0000;
$secondaryColor: white;
$fontColor: #333;
$menuColor: darkslategray;

$defaultFont: 'Montserrat', sans-serif;
$otherFont: 'Merriweather', serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;